<!DOCTYPE html>
{% load static %}
{% load admin_urls %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title style="padding-left: 0%">Home - Srivastava Inn &amp; Suites</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="../static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../static/assets/fonts/material-icons.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md sticky-top py-3" id="mainNav">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><img src="{% static 'imgs/S (2).png' %}" width="110"  height="100" style="padding-right: 10px"><span>Srivastava Inn &amp; Suites</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto" style="padding-right: 15%">
                    <li class="nav-item"><a class="nav-link active" href="">Home</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="/Pricing">Pricing</a></li>
                    <li class="nav-item"><a class="nav-link"F href="/NearbyAttractions">Nearby-Attractions</a></li>
                    {% if user.is_authenticated %}
                        <div class="book-now-container d-flex justify-content-center" style="padding-right: 40px">
                            <a class="btn btn-primary shadow" role="button" href="/book">Book now</a>
                        </div>
                    {% else %}
                        <div class="book-now-container d-flex justify-content-center" style="padding-right: 40px">
                            <a class="btn btn-primary shadow" role="button" href="/login">Book now</a>
                        </div>
                    {% endif %}
                </ul>

                    {% if user.is_authenticated %}
                      <div class="d-flex flex-column align-items-center">
                        <div class="user-image-container d-flex justify-content-center">
                          <img src="{% static 'imgs/user.png' %}" alt="User Image" style="height: 25px; width: 40px;padding-left: 15px">
                        </div>
                        <div class="user-info d-flex flex-column align-items-center">
                          <a class="nav-link" style="padding-left:10%" href={% url 'Homepage:1234' %}>Logout</a>
                          <p class="mt-2" style="padding-left: 20%">{{ user.username }}</p>
                        </div>
                      </div>
                    {% else %}
                      <div class="d-flex justify-content-center ml-auto">
                          <div class="user-info d-flex flex-column align-items-center">
                            <div class="user-image-container d-flex justify-content-center" style="margin-bottom: 10px">
                              <img src="{% static 'imgs/user.png' %}" alt="User Image" style="height: 25px; width: 25px;">
                            </div>
                            <a href="/login">Login</a>
                          </div>
                      </div>

                    {% endif %}

            </div>
        </div>
    </nav>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title class="text-center", style="padding-left: 4%">Sorry, we could not find enough available rooms</title>
</head>
<body>
    <h1 class="text-center", style="padding-left: 2%">Sorry, we could not find enough available rooms for your selected dates.</h1>
    <p><a class="text-center", style="padding-left: 40%" href="/book/" >Click here</a> to return to the booking page.</p>
</body>
</html>
