{% load static %}
{% load admin_urls %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title style="padding-left: 0%">Home - Srivastava Inn &amp; Suites</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="../static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../static/assets/fonts/material-icons.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md sticky-top py-3" id="mainNav">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><img src="{% static 'imgs/S (2).png' %}" width="110"  height="100" style="padding-right: 10px"><span>Srivastava Inn &amp; Suites</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto" style="padding-right: 15%">
                    <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="/Pricing">Pricing</a></li>
                    <li class="nav-item"><a class="nav-link"F href="/NearbyAttractions">Nearby-Attractions</a></li>
                    {% if user.is_authenticated %}
                        <div class="book-now-container d-flex justify-content-center" style="padding-right: 40px">
                            <a class="btn btn-primary shadow" role="button" href="/book">Book now</a>
                        </div>
                    {% else %}
                        <div class="book-now-container d-flex justify-content-center" style="padding-right: 40px">
                            <a class="btn btn-primary shadow" role="button" href="/login">Book now</a>
                        </div>
                    {% endif %}
                </ul>

                    {% if user.is_authenticated %}
                      <div class="d-flex flex-column align-items-center">
                        <div class="user-image-container d-flex justify-content-center">
                          <img src="{% static 'imgs/user.png' %}" alt="User Image" style="height: 25px; width: 40px;padding-left: 15px">
                        </div>
                        <div class="user-info d-flex flex-column align-items-center">
                          <a class="nav-link" style="padding-left:10%" href={% url 'Homepage:1234' %}>Logout</a>
                          <p class="mt-2" style="padding-left: 20%">{{ user.username }}</p>
                        </div>
                      </div>
                    {% else %}
                      <div class="d-flex justify-content-center ml-auto">
                          <div class="user-info d-flex flex-column align-items-center">
                            <div class="user-image-container d-flex justify-content-center" style="margin-bottom: 10px">
                              <img src="{% static 'imgs/user.png' %}" alt="User Image" style="height: 25px; width: 25px;">
                            </div>
                            <a href="/login">Login</a>
                          </div>
                      </div>

                    {% endif %}

            </div>
        </div>
    </nav>
            <div class="text-center">
                {% for booking in bookings %}
                <h4>{{ booking.room }} price: ${{booking.room.price}}</h4>
                {% endfor %}
                <h4>----------------------------------</h4>
                <h4 style="padding-bottom: 3%">total cost: ${{ total_cost }}</h4>
            </div>


    <html lang="en">
      <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>PayPal Standard Payments Integration | Client Demo</title>
      </head>

      <body class="text-center" style="align-items: center">
        <div id="paypal-button-container"></div>
        <!-- Sample PayPal credentials (client-id) are included -->
        <script
                src="https://www.paypal.com/sdk/js?client-id=test&currency=USD&intent=capture&enable-funding=venmo" data-sdk-integration-source="integrationbuilder"></script>
        <script>
          const paypalButtonsComponent = paypal.Buttons({
              // optional styling for buttons
              // https://developer.paypal.com/docs/checkout/standard/customize/buttons-style-guide/
              style: {
                color: "gold",
                shape: "pill",
                layout: "vertical"
              },

              // set up the transaction
              createOrder: (data, actions) => {
                  // pass in any options from the v2 orders create call:
                  // https://developer.paypal.com/api/orders/v2/#orders-create-request-body
                  const createOrderPayload = {
                      purchase_units: [
                          {
                              amount: {
                                  value: '{{ total_cost|floatformat:2 }}'
                              }
                          }
                      ]
                  };

                  return actions.order.create(createOrderPayload);
              },

              // finalize the transaction
              onApprove: (data, actions) => {
                  const captureOrderHandler = (details) => {
                      const payerName = details.payer.name.given_name;
                      window.location.href = '/';

                  };

                  return actions.order.capture().then(captureOrderHandler);
              },

              // handle unrecoverable errors
              onError: (err) => {
                  console.error('An error prevented the buyer from checking out with PayPal');
              }
          });

          paypalButtonsComponent
              .render("#paypal-button-container")
              .catch((err) => {
                  console.error('PayPal Buttons failed to render');
              });
        </script>
      </body>
    </html>