
{% block content %}
    <style>
        body {
            background-color: #1E1E1E;
            color: #FFFFFF;
        }

        .container {

        }

        .form-group {
            background-color: #2F2F2F;
            border-radius: 10px;
            padding: 20px;
        }

        .form-group label, .form-group input[type="text"], .form-group input[type="email"], .form-group input[type="password"] {
            color: #FFFFFF;
        }

        .btn-success {
            background-color: #007ACC;
            border-color: #007ACC;
        }

        .btn-success:hover {
            background-color: #0066CC;
            border-color: #0066CC;
        }
    </style>

    <h1>Login</h1>
    <form class="site-form" action="/login/" method="post">
        {% csrf_token %}
        {{ form }}
    <input type="submit" value="Login">
    </form>
{% endblock %}



