{% load static %}
{% load admin_urls %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Srivastava Inn &amp; Suites</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="../static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../static/assets/fonts/material-icons.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md sticky-top py-3" id="mainNav">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span class="bs-icon-sm bs-icon-circle bs-icon-primary shadow d-flex justify-content-center align-items-center me-2 bs-icon"><i class="fa fa-hotel"></i></span><span>Srivastava Inn &amp; Suites</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link active" href="">Home</a></li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href={% url 'Homepage:1234' %}>Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                    {% endif %}
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="/Pricing">Pricing</a></li>
                    <li class="nav-item"><a class="nav-link"F href="/NearbyAttractions">Nearby-Attractions</a></li>
                </ul>
                <div class="book-now-container d-flex justify-content-center" style="padding-right: 40px">
                    <a class="btn btn-primary shadow" role="button" href="/book">Book now</a>
                </div>
                    {% if user.is_authenticated %}
                      <div class="d-flex flex-column align-items-center">
                        <div class="user-image-container d-flex justify-content-center">
                          <img src="{% static 'imgs/user.png' %}" alt="User Image" style="height: 50px; width: 65px;padding-left: 15px">
                        </div>
                        <div class="user-info d-flex flex-column align-items-center">
                          <p class="mt-2" style="padding-left: 20%">{{ user.username }}</p>
                        </div>
                      </div>
                    {% else %}
                      <div class="d-flex justify-content-center ml-auto">
                          <div class="user-info d-flex flex-column align-items-center">
                            <div class="user-image-container d-flex justify-content-center" style="margin-bottom: 10px">
                              <img src="{% static 'imgs/user.png' %}" alt="User Image" style="height: 50px; width: 50px;">
                            </div>
                            <a href="/login">Login</a>
                          </div>
                      </div>

                    {% endif %}

            </div>
        </div>
    </nav>




{% block content %}
<div class="d-flex align-items-center justify-content-center" style="min-height: 100vh;">
  <div class="col-lg-6">
    <div class="card border-0 shadow-lg">
      <div class="card-body p-5">
        <h2 class="card-title mb-4 text-center">Login</h2>
        <form class="site-form" action="/login/" method="post">
          {% csrf_token %}
          <div class="form-group text-center mb-4">
            <label for="username">Username:</label>
            <div class="input-group justify-content-center">

              {{ form.username }}
            </div>
          </div>
          <div class="form-group text-center mb-4">
            <label for="password">Password:</label>
            <div class="input-group justify-content-center">

              {{ form.password }}
            </div>
          </div>
          <div class="form-group text-center mb-4">
            <button type="submit" class="btn btn-success">Login</button>
          </div>
        </form>
        <div class="text-center">
          <p class="mb-0">Don't have an account?</p>
          <a href="/register/" class="btn btn-link btn-sm">Create an account</a>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
    body {
        background-color: #1E1E1E;
        color: #FFFFFF;
    }

    .card {
        position: relative;
        top: -30px;
    }

    .fa-user-circle:before {
        content: "\f2bd";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 20px;
        color: #a7a7a7;
    }

    .fa-key:before {
        content: "\f084";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 20px;
        color: #a7a7a7;
    }

    .form-group {
        margin-bottom: 20px;
    }
</style>
{% endblock %}




